Source: decommissioned-sites
Section: mygov
Priority: optional
Maintainer: Martin Ellis <martin.ellis@gov.scot>
Build-Depends: debhelper (>= 8.0.0), rsync
Standards-Version: 3.9.4

Package: decommissioned-sites
Architecture: all
Depends: ${misc:Depends}
Description: Generates nginx vhosts for decommissioned sites
Conflicts: mygov-site, site-builder
