[Unit]
Description=Redirects service
After=network.target

[Service]
User=redirects
WorkingDirectory=/opt/redirects
ExecStart=/bin/sh -lc 'exec /opt/redirects/bin/redirects'
SyslogIdentifier=redirects
Restart=on-failure

[Install]
WantedBy=multi-user.target
